@import "./base.css";

body {
  background-color: #f7f8fa;
}
.chat-main {
  font-size: 16px;
}
.chat-content {
  position: fixed;
  overflow-y: scroll;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 50px;
  top: 44px;
}
::-webkit-scrollbar {
  display: none;
}
